---
---

// Theme overrides START
// https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss
// https://clrs.cc/
$section-headings-color: #3D9970 !default;

// Theme overrides START

@import "{{ site.theme }}";

// Custom variables START
$spinnerBlue: #3498db;
$spinnerGrey: #f3f3f3;
// Custom variables END

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.page-header {
  background-image: url(/assets/images/banner.jpg);
  background-position: -900px -360px;
}

.project-tagline {
  background: darken($section-headings-color, 0);
  max-width: 800px;
  margin: auto;
  opacity: 0.70;
}

nav li.active a {
  color: $section-headings-color;
  font-weight: bold;
}

nav {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a, .dropbtn {
    display: inline-block;
    color: $body-text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover, .dropdown:hover .dropbtn {
    background-color: $section-headings-color;
    text-decoration: none;
    color: #fff;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: $body-text-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover { background-color: $section-headings-color; }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.spinner {
  border: 6px solid $spinnerGrey;
  border-top: 6px solid  $spinnerBlue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Image gallery START
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	//max-height: 100vh;
}
.card {
	margin: 0 3px 10px 3px;
	border: 0px solid #444;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.5);
	max-width: 32%;
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }
}

.card-title {
  text-align: center;
  margin: 0 0 6px 0;
}
// Image gallery STOP
